Repository 499CSpeaking/SpeakingPortal, pull requests merged in 2022-09, with the labels that each got.

#20 added team agreement to repo, changed file structure and updated readme
  README.md
  docs/general/project/ProjectInfo.md
  docs/general/team/TeamAgreement.md
  docs/minutes/client/Placeholder.md
  docs/minutes/team/Placeholder.md
  docs/technical/Placeholder.md
  temp/TestPython.py
Labels: task

#22 added description of self
  README.md
  temp/TestPython.py
Labels: documentation

#23 Updated the read me file!
  README.md
Labels: documentation, chore
