Repository 499CSpeaking/SpeakingPortal, pull requests merged in 2022-10, with the labels that each got.

#25 Added research notes for wav2lip
  docs/general/project/Wav2LipInfo.md
Labels: chore

#27 26 add wav2lip example video
  docs/general/project/Wav2LipInfo.md
  temp/after.mp4
Labels: task

#29 added entry
  docs/general/project/Audio2FaceInfo.md
Labels: task

#32 touched up document
  docs/general/project/Audio2FaceInfo.md
Labels: task

#36 Quality check documentation report created and updated.
  docs/quality/Quality Checks/Week 05.md
Labels: documentation, chore

#47 updated file system, and migrated Lazykhinfo to technical folder
  docs/quality/checkups/W05.md
  docs/technical/Lazykhsetup.md
Labels: task

#48 12 add presentation video
  README.md
Labels: task

#51 pls
  docs/general/project/Final.md
Labels: task

#52 Updated documentation, weekly quality check meeting for week 6
  docs/quality/checkups/W06.md
Labels: documentation, task

#55 first iteration
  docs/general/project/important.md
Labels: task

#57 added description to the readme
  README.md
Labels: task

#60 58 add auto label gh action
  .github/labeler.yml
  .github/workflows/label.yml
Labels: task

#74 added file
  code/cmudict_demo/index.js
Labels: task

#75 Updating documentation
  code/Harshal Demo/Phoneme Demo test script.md
  code/Harshal Demo/ipadict.txt
  docs/quality/checkups/W08.md
Labels: documentation, task

#78 Fixed quality report
  docs/quality/checkups/W08.md
Labels: documentation, task

#77 Create ipa.js
  code/Potential Ipa/ipa.js
  docs/technical/README.md
Labels: task

#79 added more lines
  docs/general/project/important.md
Labels: documentation, task

#80 New files
  docs/technical/Englishtoipa.md
  docs/technical/IPA2005_2000px.png
Labels: documentation, task

#81 Updated demo testing file
  code/Harshal Demo/Phoneme Demo test script.md
Labels: task

#82 Create nowords.mp3
  code/audio/input/nowords.mp3
Labels: task

#84 Updated report
  docs/quality/checkups/W08.md
Labels: documentation, task

#87 Updated documents
  docs/quality/checkups/W07.md
Labels: documentation, task

#86 need more additions to script
  docs/general/project/important.md
Labels: documentation, task

#89 hopefully
  docs/general/project/important.md
Labels: chore
