Repository 499CSpeaking/SpeakingPortal, pull requests merged in 2023-03, with the labels that each got.

#313 Create imb.js
  code/Api_Stuff/docs/ibm/imb.js
Labels: task

#315 Create Whisper.md
  code/Api_Stuff/docs/openai/Whisper.md
Labels: task

#316 Create Whisper.py
  code/Api_Stuff/docs/openai/Whisper.py
Labels: task

#320 code cleaned and formatted
  code/PT2_FE/server.js
  code/PT2_FE/server.ts
  code/PT2_FE/site/index.html
  code/PT2_FE/site/scripts/main.js
  code/PT2_FE/site/scripts/main.ts
Labels: task

#322 added dropdown
  code/PT2_FE/site/index.html
Labels: task

#323 308 animation engine parse transcript mappings
  code/animation_engine/input/abstract_input.ts
  code/animation_engine/input/file_input.ts
  code/animation_engine/main.ts
  code/animation_engine/package-lock.json
  code/animation_engine/package.json
  code/animation_engine/rendering/renderer.ts
  code/animation_engine/testing/inputs.json
  code/animation_engine/testing/transcript.json
  code/animation_engine/transcript/filtering/filter.ts
  code/animation_engine/transcript/filtering/gaussian.ts
  code/animation_engine/transcript/parse_mappings.ts
  code/animation_engine/transcript/phoneme_occurrences.ts
Labels: task

#325 done
  code/animation_engine/transcript/filtering/filter.ts
  code/animation_engine/transcript/filtering/gaussian.ts
Labels: task

#328 Updated
  docs/quality/checkups/W15 - Copy.md
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy.md
Labels: documentation, task

#330 Updated
  docs/quality/checkups/W15 - Copy.md
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy.md
Labels: documentation, task

#331 done everything except for graphics
  code/animation_engine/main.ts
  code/animation_engine/package-lock.json
  code/animation_engine/package.json
  code/animation_engine/rendering/renderer.ts
  code/animation_engine/testing/audio.mp3
  code/animation_engine/testing/inputs.json
  code/animation_engine/transcript/filtering/gaussian.ts
  code/animation_engine/transcript/parse_mappings.ts
  code/animation_engine/transcript/phoneme_occurrences.ts
Labels: task

#333 332 add graphics to animation engine
  code/animation_engine/graphics/avatar_context.ts
  code/animation_engine/graphics/graphics_pool.ts
  code/animation_engine/graphics/phoneme_to_image.ts
  code/animation_engine/helper_scripts/phoneme_mapper.ts
  code/animation_engine/main.ts
  code/animation_engine/package-lock.json
  code/animation_engine/package.json
  code/animation_engine/rendering/renderer.ts
  code/animation_engine/testing/graphics.json
  code/animation_engine/testing/graphics/body.png
  code/animation_engine/testing/graphics/eye_left_closed.svg
  code/animation_engine/testing/graphics/eye_left_half.svg
  code/animation_engine/testing/graphics/eye_left_open.svg
  code/animation_engine/testing/graphics/eye_right_closed.svg
  code/animation_engine/testing/graphics/eye_right_half.svg
  code/animation_engine/testing/graphics/eye_right_open.svg
  code/animation_engine/testing/graphics/glasses.svg
  code/animation_engine/testing/graphics/mouth_closed.svg
  code/animation_engine/testing/graphics/mouth_idle.svg
  code/animation_engine/testing/graphics/mouth_open.svg
  code/animation_engine/testing/graphics/mouth_open_wide.svg
  code/animation_engine/testing/graphics/mouth_puckered_lips.svg
  code/animation_engine/testing/graphics/mouth_raised_tongue.svg
  code/animation_engine/testing/graphics/mouth_slightly_open.svg
  code/animation_engine/testing/graphics/mouth_slightly_rounded.svg
  code/animation_engine/testing/graphics/mouth_teeth_lip.svg
  code/animation_engine/testing/graphics/mouth_transition.svg
  code/animation_engine/testing/graphics/mouth_transition_2.svg
  code/animation_engine/testing/inputs.json
Labels: task

#336 added voice and aligner dropdown
  code/PT2_FE/site/index.html
  code/PT2_FE/site/scripts/main.js
  code/PT2_FE/site/scripts/main.ts
Labels: task

#337 useable demo works. Use npm run demo
  code/animation_engine/.mp3
  code/animation_engine/demo.ts
  code/animation_engine/demo_files/audio.mp3
  code/animation_engine/demo_files/audio.wav
  code/animation_engine/demo_files/inputs.json
  code/animation_engine/demo_files/out.mp4
  code/animation_engine/demo_files/transcript.json
  code/animation_engine/main.ts
  code/animation_engine/package.json
  code/animation_engine/rendering/renderer.ts
  code/animation_engine/test.wav
  code/animation_engine/testing/audio.mp3
  code/animation_engine/testing/graphics.json
Labels: task

#340 added select for boy girl
  code/PT2_FE/site/index.html
Labels: task

#341 config object to add configuration to animation engine
  code/animation_engine/.mp3
  code/animation_engine/demo.js
  code/animation_engine/demo.ts
  code/animation_engine/demo_files/audio.wav
  code/animation_engine/demo_files/transcript.json
  code/animation_engine/main.js
  code/animation_engine/main.ts
Labels: task

#343 342 setup server calls
  code/PT2_FE/demo_files/audio.wav
  code/PT2_FE/demo_files/transcript.json
  code/PT2_FE/server.js
  code/PT2_FE/server.ts
  code/PT2_FE/site/index.html
  code/PT2_FE/site/scripts/default.ts
  code/PT2_FE/site/scripts/main.js
  code/PT2_FE/site/scripts/main.ts
Labels: task

#347 see ../docker_stuff directory + README
  code/PT2_FE/Dockerfile
  code/PT2_FE/docker_stuff/README.md
  code/PT2_FE/docker_stuff/docker-compose.yml
  code/PT2_FE/package.json
  code/PT2_FE/rendering/renderer.js
Labels: task

#349 Openai update
  code/Api_Stuff/docs/openai/coolCurlWhipser.txt
  code/Api_Stuff/docs/openai/testpy.py
  code/PT2_FE/server.js.bak
Labels: task

#350 Update imb.js
  code/Api_Stuff/docs/ibm/imb.js
Labels: task

#351 languages
  code/Api_Stuff/docs/aws/languages.txt
  code/Api_Stuff/docs/openai/testpy.py
Labels: task

#353 updated
  docs/quality/checkups/W17 - Copy.md
Labels: documentation, task

#354 updated
  docs/quality/checkups/W16 - Copy.md
Labels: documentation, task

#356 updated
  docs/quality/checkups/W18.md
Labels: documentation, task

#358 357 male avatar for 2nd peer testing demo
  code/PT2_FE/.mp3
  code/PT2_FE/demo_files/audio.wav
  code/PT2_FE/demo_files/inputs.json
  code/PT2_FE/demo_files/transcript.json
  code/PT2_FE/testing/graphics_female.json
  code/PT2_FE/testing/graphics_female/body.png
  code/PT2_FE/testing/graphics_female/eye_left_closed.svg
  code/PT2_FE/testing/graphics_female/eye_left_half.svg
  code/PT2_FE/testing/graphics_female/eye_left_open.svg
  code/PT2_FE/testing/graphics_female/eye_right_closed.svg
  code/PT2_FE/testing/graphics_female/eye_right_half.svg
  code/PT2_FE/testing/graphics_female/eye_right_open.svg
  code/PT2_FE/testing/graphics_female/glasses.svg
  code/PT2_FE/testing/graphics_female/mouth_closed.svg
  code/PT2_FE/testing/graphics_female/mouth_idle.svg
  code/PT2_FE/testing/graphics_female/mouth_open.svg
  code/PT2_FE/testing/graphics_female/mouth_open_wide.svg
  code/PT2_FE/testing/graphics_female/mouth_puckered_lips.svg
  code/PT2_FE/testing/graphics_female/mouth_raised_tongue.svg
  code/PT2_FE/testing/graphics_female/mouth_slightly_open.svg
  code/PT2_FE/testing/graphics_female/mouth_slightly_rounded.svg
  code/PT2_FE/testing/graphics_female/mouth_teeth_lip.svg
  code/PT2_FE/testing/graphics_female/mouth_transition.svg
  code/PT2_FE/testing/graphics_female/mouth_transition_2.svg
  code/PT2_FE/testing/graphics_male.json
  code/PT2_FE/testing/graphics_male/body.png
  code/PT2_FE/testing/graphics_male/eye_left_closed.svg
  code/PT2_FE/testing/graphics_male/eye_left_half.svg
  code/PT2_FE/testing/graphics_male/eye_left_open.svg
  code/PT2_FE/testing/graphics_male/eye_right_closed.svg
  code/PT2_FE/testing/graphics_male/eye_right_half.svg
  code/PT2_FE/testing/graphics_male/eye_right_open.svg
  code/PT2_FE/testing/graphics_male/glasses.svg
  code/PT2_FE/testing/graphics_male/mouth_closed.svg
  code/PT2_FE/testing/graphics_male/mouth_idle.svg
  code/PT2_FE/testing/graphics_male/mouth_open.svg
  code/PT2_FE/testing/graphics_male/mouth_open_wide.svg
  code/PT2_FE/testing/graphics_male/mouth_puckered_lips.svg
  code/PT2_FE/testing/graphics_male/mouth_raised_tongue.svg
  code/PT2_FE/testing/graphics_male/mouth_slightly_open.svg
  code/PT2_FE/testing/graphics_male/mouth_slightly_rounded.svg
  code/PT2_FE/testing/graphics_male/mouth_teeth_lip.svg
  code/PT2_FE/testing/graphics_male/mouth_transition.svg
  code/PT2_FE/testing/graphics_male/mouth_transition_2.svg
  code/PT2_FE/testing/graphics_male/mouth_transition_3.svg
Labels: task

#360 fixed
  code/PT2_FE/.mp3
  code/PT2_FE/demo_files/audio.wav
  code/PT2_FE/demo_files/transcript.json
  code/PT2_FE/rendering/renderer.js
Labels: task

#362 Create index.js
  code/Api_Stuff/code/google/src/index.js
Labels: task

#363 Create index.ts
  code/Api_Stuff/code/combind code/index.ts
Labels: task

#365 Create index.ts
  code/Api_Stuff/code/combind code/build/index.ts
Labels: task

#368 updated docs and organized deprecated docs
  docs/technical/deprecated_docs/manualSystem.md
Labels: documentation, task

#370 added gitstats
  docs/gitstats/GitStatsW17.pdf
  docs/gitstats/GitStatsW18.pdf
  docs/gitstats/GitStatsW19.pdf
  docs/gitstats/GitStatsW20.pdf
  docs/gitstats/GitStatsW21.pdf
  docs/gitstats/GitStatsW22.pdf
Labels: documentation, task

#373 oh baby a triple
  code/animation_engine/main.ts
Labels: task

#375 updated doc
  docs/quality/checkups/W14 - Copy.md
  docs/quality/checkups/W15 - Copy.md
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy.md
  docs/quality/checkups/W18 - Copy.md
Labels: documentation, task

#376 removed a semicolon
  code/animation_engine/main.ts
Labels: task

#378 updated doc
  docs/quality/checkups/W14 - Copy.md
  docs/quality/checkups/W15 - Copy.md
Labels: documentation, task

#377 added issue doc
  docs/PT2/issuesFound.md
Labels: documentation, task

#379 updated doc
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy.md
Labels: documentation, task

#380 updated doc
  docs/quality/checkups/W18 - Copy.md
Labels: documentation, task

#382 sphinx dict removed
  code/cmudict_SPHINX_40.txt
Labels: task

#383 Create index.js
  code/Api_Stuff/code/combind code/build/index.js
Labels: task

#384 Create transcribe.js
  code/Api_Stuff/code/combind code/libs/transcribe.js
Labels: task

#385 Create js.js
  code/Api_Stuff/code/combind code/js.js
Labels: task

#387 code for backup
  code/Api_Stuff/code/combind code copy/build/index.js
  code/Api_Stuff/code/combind code copy/build/index.ts
  code/Api_Stuff/code/combind code copy/createjob.js
  code/Api_Stuff/code/combind code copy/index.ts
  code/Api_Stuff/code/combind code copy/js.js
  code/Api_Stuff/code/combind code copy/libs/transcribe.js
  code/Api_Stuff/code/combind code copy/libs/transcribeClient.ts
  code/Api_Stuff/code/combind code copy/transcribe-create-job.ts
  code/Api_Stuff/code/combind code copy/transcribe-list-jobs.ts
Labels: task

#391 cleaner organization of temp files
  code/animation_engine/.mp3
  code/animation_engine/demo.js
  code/animation_engine/demo.ts
  code/animation_engine/demo_files/audio.mp3
  code/animation_engine/demo_files/audio.wav
  code/animation_engine/demo_files/inputs.json
  code/animation_engine/demo_files/out.mp4
  code/animation_engine/demo_files/transcript.json
  code/animation_engine/rendering/renderer.js
  code/animation_engine/rendering/renderer.ts
  code/animation_engine/test.wav
Labels: task

#392 docs added
  docs/quality/checkups/W13 - Copy.md
  docs/quality/checkups/W14 - Copy.md
  docs/quality/checkups/W15 - Copy.md
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy.md
  docs/quality/checkups/W18 - Copy.md
Labels: documentation

#395 docs added
  docs/quality/checkups/W13 - Copy.md
  docs/quality/checkups/W14 - Copy.md
Labels: documentation, task

#396 docs deleted
  docs/quality/checkups/W15 - Copy.md
  docs/quality/checkups/W16 - Copy.md
Labels: documentation, task

#397 docs deleted
  docs/quality/checkups/W17 - Copy.md
  docs/quality/checkups/W18 - Copy.md
Labels: documentation, task

#401 docs added
  docs/quality/checkups/W17 - Copy.md
  docs/quality/checkups/W18 - Copy.md
Labels: documentation, task

#406 Configuration for avatars
  code/animation_engine/demo.js
  code/animation_engine/demo.ts
  code/animation_engine/demo_files/avatar.json
  code/animation_engine/demo_files/inputs.json
  code/animation_engine/graphics/avatar_context.js
  code/animation_engine/graphics/avatar_context.ts
  code/animation_engine/main.js
  code/animation_engine/main.ts
  code/animation_engine/rendering/renderer.js
  code/animation_engine/rendering/renderer.ts
Labels: task

#414 added server endpoint for load testing
  code/main/demo_files/textLT.txt
  code/main/server.js
  code/main/server.ts
Labels: task

#415 full implementation of load testing mode done
  code/main/demo_files/audio.mp3
  code/main/demo_files/audio.wav
  code/main/demo_files/audioLT.mp3
  code/main/demo_files/transcript.json
  code/main/demo_files/transcriptLT.json
  code/main/server.js
  code/main/server.ts
  code/main/site/index.html
  code/main/site/scripts/main.js
  code/main/site/scripts/main.ts
  code/main/transcript/parse_mappings.js
  code/main/transcript/parse_mappings.ts
Labels: task

#420 french
  code/PT2_FE/demo_files/transcript copy.json
  code/PT2_FE/server.ts
Labels: task

#422 branch
  code/PT2_FE/demo_files/inputs copy.json
  code/PT2_FE/demo_files/transcript copy.json
Labels: task

#423 blinking is implemented
  code/main/demo_files/audio.mp3
  code/main/demo_files/audio.wav
  code/main/demo_files/inputs_female.json
  code/main/demo_files/inputs_male.json
  code/main/demo_files/transcript.json
  code/main/graphics/avatar_context.js
  code/main/graphics/avatar_context.ts
  code/main/main.js
  code/main/main.ts
  code/main/rendering/renderer.js
  code/main/rendering/renderer.ts
Labels: task

#424 done
  docs/quality/checkups/W18 - Copy (2).md
  docs/quality/checkups/W18 - Copy - Copy.md
Labels: documentation, task

#425 done
  docs/quality/checkups/W17 - Copy.md
  docs/quality/checkups/W18 - Copy - Copy.md
Labels: documentation, task
