Repository 499CSpeaking/SpeakingPortal, pull requests merged in 2023-02, with the labels that each got.

#237 added api call
  code/manual_Ipa/main/server.js
  code/manual_Ipa/main/server.ts
Labels: task

#238 added call in main
  code/manual_Ipa/main/site/main.js
  code/manual_Ipa/main/site/main.ts
Labels: task

#239 passed word count and stamp list
  code/manual_Ipa/main/trimStamps.js
  code/manual_Ipa/main/trimStamps.ts
Labels: task

#240 added trimming function
  code/manual_Ipa/main/trimStamps.ts
Labels: task

#241 oh yeah it's all coming together
  code/canvas_demo/.gitignore
  code/canvas_demo/main.js
  code/canvas_demo/main.ts
Labels: bug, task

#243 yes
  code/canvas_demo/main.js
  code/canvas_demo/main.ts
Labels: documentation

#246 Newmain
  code/Api_Stuff/Code.js
Labels: task

#250 added doc
  code/canvas_demo/input_files/audio.mp3
  code/canvas_demo/input_files/mouth_mappings.json
  code/canvas_demo/input_files/text.txt
  code/canvas_demo/input_files/transcript.json
  docs/quality/checkups/W17.md
Labels: documentation, task

#251 edited code fix
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy.md
Labels: documentation, task

#252 removed some files
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy.md
Labels: documentation, task

#260 added wordcount and checked validity
  code/manual_Ipa/main/server.js
  code/manual_Ipa/main/server.ts
  code/manual_Ipa/main/site/main.js
  code/manual_Ipa/main/site/main.ts
  code/manual_Ipa/main/uploads/2a942a35aa16cbf8dc312e05f7a3b31a
  code/manual_Ipa/main/uploads/2d8c9bdec16f61ee2cec2789819ad6c8
Labels: task

#261 added call and logged new stamps and legnth
  code/manual_Ipa/main/server.js
  code/manual_Ipa/main/server.ts
Labels: task

#262 fix is in and extra code removed
  code/manual_Ipa/main/server.js
  code/manual_Ipa/main/server.ts
  code/manual_Ipa/main/site/main.js
  code/manual_Ipa/main/site/main.ts
  code/manual_Ipa/main/uploads/4aa73e6eaf71eace3daad57bb9798a1b
Labels: task

#263 236 update docs with new findings
  code/manual_Ipa/main/uploads/0ec4bc0132e502f5aedb96d77ffbdf20
  code/manual_Ipa/main/uploads/2a942a35aa16cbf8dc312e05f7a3b31a
  code/manual_Ipa/main/uploads/2d8c9bdec16f61ee2cec2789819ad6c8
  code/manual_Ipa/main/uploads/4aa73e6eaf71eace3daad57bb9798a1b
  code/manual_Ipa/main/uploads/6642a34e59143c6eba0da82bc023503b
  code/manual_Ipa/main/uploads/6b1e2383b9adb3a9ddcce345924f9826
  code/manual_Ipa/main/uploads/88a5d3ca15827525317e30d15f267697
  code/manual_Ipa/main/uploads/9d9d5cf7e7453c72ab6fa86617b019d6
  code/manual_Ipa/main/uploads/a2bd51787c1fc6a1d0666971ea6f9b57
  docs/technical/manualSystem.md
Labels: documentation, task

#265 Delete Code.js
  code/Api_Stuff/Code.js
Labels: task

#267 Create Code copy.ts
  code/Api_Stuff/code/src/Code copy.ts
Labels: task

#268 229 rewrite canvas animation engine
  code/animation_engine/.gitignore
  code/animation_engine/input/abstract_input.ts
  code/animation_engine/input/file_input.ts
  code/animation_engine/main.ts
  code/animation_engine/package-lock.json
  code/animation_engine/package.json
  code/animation_engine/rendering/renderer.ts
  code/animation_engine/testing/inputs.json
  code/animation_engine/tsconfig.json
Labels: task

#270 269 inconsistencies between single and double quote use in animation engine
  code/animation_engine/input/file_input.ts
  code/animation_engine/main.ts
  code/animation_engine/rendering/renderer.ts
Labels: chore, task

#272 done
  code/canvas_demo/main.ts
Labels: chore, task

#274 Updated
  code/canvas_demo/input_files/audio.mp3
  code/canvas_demo/input_files/mouth_mappings.json
  code/canvas_demo/input_files/text.txt
  code/canvas_demo/input_files/transcript.json
  code/canvas_demo/inputs.json
  docs/quality/checkups/W18.md
Labels: documentation, task

#275 done
  docs/quality/checkups/W18.md
Labels: documentation, task

#276 Updated
  docs/quality/checkups/W17 - Copy.md
Labels: documentation, task

#283 added skeleton code
  code/manual_Ipa/main/getStamps.js
  code/manual_Ipa/main/getStamps.ts
Labels: task

#284 added median filter code
  code/manual_Ipa/main/getStamps.js
  code/manual_Ipa/main/getStamps.ts
Labels: task

#285 added function call to median filter
  code/manual_Ipa/main/getStamps.js
  code/manual_Ipa/main/getStamps.ts
Labels: task

#286 integration complete
  code/manual_Ipa/main/getStamps.js
  code/manual_Ipa/main/getStamps.ts
  code/manual_Ipa/main/uploads/11e1e7267611f993bc9c528a86d33946
  code/manual_Ipa/main/uploads/1597fc25dda43a90a9f11884a1a33b17
  code/manual_Ipa/main/uploads/167d90c6099e2506b51f696153b20406
  code/manual_Ipa/main/uploads/17156d6ddeed0eb08d865e01dcc2350c
  code/manual_Ipa/main/uploads/1f3ec6cef8185ba3de2006762b425f67
  code/manual_Ipa/main/uploads/2b95abca0b3ca682b4bb763c093c1b59
  code/manual_Ipa/main/uploads/33bbe68aff19c81bc4272e80d3dbceaa
  code/manual_Ipa/main/uploads/4b9b326b66b5cca2e3ccadf4be24ee4f
  code/manual_Ipa/main/uploads/651844a31fb9e67c4f79f83e2d5b030f
  code/manual_Ipa/main/uploads/68623fe03ea7ef6346abf180054c6678
  code/manual_Ipa/main/uploads/6dbdbb759ae39e817f4c743848288eea
  code/manual_Ipa/main/uploads/7275a5de5c18b19f159d3805f34f6ed1
  code/manual_Ipa/main/uploads/73bdf40f6246309dd2d9d0be23cd7564
  code/manual_Ipa/main/uploads/74a1bb6e42dad53e661acc4d839f44b2
  code/manual_Ipa/main/uploads/767c428b2d058e758f41ac601cc18463
  code/manual_Ipa/main/uploads/76e3265b2db5ffda1a92d5538f658c78
  code/manual_Ipa/main/uploads/81f41364ce41587bca5889e8d434d601
  code/manual_Ipa/main/uploads/829e370df16b5ad2bf884a4ec8d8d308
  code/manual_Ipa/main/uploads/864cceef70d2a0f30ceb83f395bcd125
  code/manual_Ipa/main/uploads/8e5a98ffc831ff74433df2f13d6a42bf
  code/manual_Ipa/main/uploads/92fa56baf7feecdbec82f22de0f35a63
  code/manual_Ipa/main/uploads/955c524e48c8f7e09cb852056f43c3f7
  code/manual_Ipa/main/uploads/98f0f9610545eb2a9a629a206c338a9f
  code/manual_Ipa/main/uploads/98ff7889e25789cee26a8d19891cb4ea
  code/manual_Ipa/main/uploads/99cdf6d1518035f1dea96e5d9575d07c
  code/manual_Ipa/main/uploads/9dae956cad8d7b31bf2e88408073757b
  code/manual_Ipa/main/uploads/9f5d97bab251488d2ab94c7395dc946e
  code/manual_Ipa/main/uploads/a5dfc821a8b29d2b2cc5342bf30cff0b
  code/manual_Ipa/main/uploads/b7fde59d7dbb33f4cff8309674e661ff
  code/manual_Ipa/main/uploads/bdd2d35fe3cbbe7748bec711a2b37f65
  code/manual_Ipa/main/uploads/c025fc596c656a6015e00520964cc904
  code/manual_Ipa/main/uploads/c05d94df1f3bef842c3127a74c805549
  code/manual_Ipa/main/uploads/c692b7bf3407dafea7142ce3615ea5c5
  code/manual_Ipa/main/uploads/cb101ff831e66f0a29e00729ccda6498
  code/manual_Ipa/main/uploads/d387f38e2310b9a27bea415adef5185b
  code/manual_Ipa/main/uploads/d62252f997f6d5004cc16ef7ce5e59ba
  code/manual_Ipa/main/uploads/d7298de3deb2fc1884589f73c0f90419
  code/manual_Ipa/main/uploads/df9d40092acf24c280ff13b6cbf613c5
  code/manual_Ipa/main/uploads/e22e8fefb5c43f6797c9a54a6cc08620
  code/manual_Ipa/main/uploads/e2e3203d577f06353820fff49a0f4383
  code/manual_Ipa/main/uploads/f599b51c7aa8fbf8b39f852565b02747
  code/manual_Ipa/main/uploads/f6654e8a66bd27d2f706ab213a4cecd8
  code/manual_Ipa/main/uploads/fb628d8bfd4a11de95f640886def66c8
  code/manual_Ipa/main/uploads/fe35f9d3f3edcb258ff4ff227d2c0c69
Labels: task

#287 Create Example.txt
  code/Api_Stuff/docs/ibm/Example.txt
Labels: task

#288 Create googl.js
  code/Api_Stuff/docs/Google/googl.js
Labels: task

#292 291 small edits to canvas demo
  code/canvas_demo/main.ts
Labels: chore, task

#294 added to important.md
  docs/general/project/important.md
Labels: documentation, task

#300 done
  docs/general/project/important.md
Labels: documentation, task

#302 important change
  code/canvas_demo/main.ts
Labels: task

#304 updated
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy (2).md
  docs/quality/checkups/W17 - Copy - Copy.md
Labels: documentation, task

#305 updated
  docs/quality/checkups/W17 - Copy (2).md
  docs/quality/checkups/W17 - Copy.md
Labels: documentation, task

#306 updated
  docs/quality/checkups/W16 - Copy.md
  docs/quality/checkups/W17 - Copy - Copy.md
Labels: documentation, task

#307 273 continue with animation engine
  code/animation_engine/main.ts
  code/animation_engine/package-lock.json
  code/animation_engine/package.json
  code/animation_engine/rendering/renderer.ts
  code/animation_engine/testing/inputs.json
Labels: task

#310 fixed trimmer issues
  code/manual_Ipa/main/trimStamps.js
  code/manual_Ipa/main/trimStamps.ts
  code/manual_Ipa/main/uploads/14ba42737befde8645f3f8034ec0254e
  code/manual_Ipa/main/uploads/4e2cae0e6fdf46392291e0030bf15d81
  code/manual_Ipa/main/uploads/4e2f56c701545a70604374cf530583c1
  code/manual_Ipa/main/uploads/7d6a07856809e63b7190da9c20881d12
  code/manual_Ipa/main/uploads/964ccfb3cb5d65b0b76b3168ca05c2a5
  code/manual_Ipa/main/uploads/f0db7a0773d4bc3078bb6e2623b7753e
Labels: task
